body {
  margin: 0;
}

.imageContainer {
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#fact-card{
  width: 200px;
  height: 200px;
  background-color: beige;
}

#randomFactsButton{
  width: 25px;
  height: 25px;
  /* display: flex;
  justify-content: center; */
}

#randomImage {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: fixed;
}

#search {
margin-left: 100px;
}